################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JAG-JPIDP/FileContentIndex/merges
/.vs
