<ui-dashboard-header [theme]="headerConfig.theme" [allowMobileToggle]="headerConfig.allowMobileToggle">
</ui-dashboard-header>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 justify-content-center">
      <div class="row">
        <div class="col-2 justify-content-between">
          <img src="/assets/images/diam-logo.svg" alt="Digital Identity Access Management Portal Logo" />
        </div>
        <div class="col-10">
          <div class="justify-content-between">
            <h1>
              Verify yourself and get access to many applications
            </h1>
          </div>
          <span>
            Log in using your authorized security credentials. <br />Note: You may be
            redirected
            to complete this process.
          </span>
          <div class="tagline">
          </div>
          <div class="row justify-content-center">
            <ui-page-section>

              <div class="no-login-options" *ngIf="noLoginOptions">
                No Login Options Found
              </div>

              <div class="login-panel">
                <div class="row">
                  <div *ngFor="let loginOpt of loginOptions | async">
                    <button type="button" mat-raised-button class="btn btn-primary btn-block"
                      (click)="onOptionLogin(loginOpt)">
                      {{ loginOpt.name }} log in
                    </button>
                  </div>
                </div>
              </div>

            </ui-page-section>
            <div class="support  justify-content-center">
              <app-get-support></app-get-support>
            </div>

          </div>
        </div>
      </div>
    </div>





    <ng-template #admin>
      <div class="row admin">
        <div class="col-12">
          <img src="/assets/images/pidp-logo-blue.svg" alt="Digital Identity Access Management Logo" />
        </div>
        <div class="col-12">
          <button mat-flat-button color="primary" (click)="onLogin()">
            {{ idpHint | uppercase }} Login
          </button>
        </div>
      </div>
    </ng-template>

  </div>
