@use '@angular/material' as mat;
@use 'material/material-variables' as var;

@use 'palette' as palette;
@import 'bootstrap/bootstrap-imports';

.container {
  padding-top: 3rem;
  padding-bottom: 1rem;
  max-width: 1024px;

  @include media-breakpoint-up(xl) {
    // Constrain to center content within the container
    // on larger viewports
    max-width: 1200px;
  }
}

//
.agency-field {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  margin-bottom: 5px;
  .mat-option-text > span {
    font-size: large;
  }
  input {
    background-color: aliceblue;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

// BCSC Login
//

.header,
.scroll,
.actions,
.systems {
  margin-bottom: 2.5rem;

  button {
    font-size: 0.95rem;
    padding: 0.75rem 1.2rem;

    @include media-breakpoint-up(sm) {
      font-size: 1rem;
    }
  }
}

.support {
  margin-top: 88px;
}

.tagline {
  display: flex;
  align-items: flex-start;
}

.header {
  .heading {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;

    h1 {
      font-size: 2em;
    }

    h2 {
      margin-left: 72px;
      font-style: italic;
    }

    img {
      display: none;
    }

    @media screen and (max-width: 768px) {
      h1 {
        font-size: 0.5em;
      }
    }

    @media (min-width: 768px) {
      img {
        display: block;
        height: 188px;
      }

      h1 {
        // Alignment of text with image
        margin-top: 0;
        margin-left: 1.5rem;
        margin-bottom: 0;
      }
    }
  }

  p {
    @include media-breakpoint-up(sm) {
      width: 425px;
    }
    @media (min-width: 645px) {
      width: 500px;
    }
    @include media-breakpoint-up(lg) {
      width: 600px;
    }
  }
}

.login-panel {
  margin-top: 24px;
  padding: 16px;

  button {
    background-color: palette.theme-palette(blue);
    color: palette.theme-palette(buff);
    font-weight: bold;
    padding: 8px;
    margin-top: 8px;
    width: 288px !important;
    min-width: unset !important;
  }
}

.divider {
  border-bottom: 1px white solid;
}

.scroll {
  button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.actions {
  div:first-child {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
  div:last-child {
    background-color: palette.theme-palette(blue);
    border-radius: 5px;
    padding: 3.5rem 1.5rem;

    @include media-breakpoint-up(xl) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  button {
    background-color: white;
    width: 100%;
  }

  button:nth-of-type(2) {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }

  small {
    &,
    a {
      color: white;
    }
    a:hover {
      text-decoration: none;
    }

    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    display: block;
  }

  @include media-breakpoint-up(xl) {
    max-width: 550px;
    padding-left: 3rem;
  }
}

.danger {
  background-color: palette.theme-palette(red);
  color: white;
  padding: 16px;
  border-radius: 5px;
}

.center {
  text-align: center;
}

.tagline {
  @include media-breakpoint-up(xl) {
    width: 600px;
  }

  img {
    @include media-breakpoint-up(sm) {
      width: 48px;
    }
    @include media-breakpoint-up(md) {
      width: 48px;
    }
    @include media-breakpoint-up(lg) {
      width: 96px;
    }
    @include media-breakpoint-up(xl) {
      width: 128px;
    }
    margin-bottom: 1.5rem;
    height: auto;
  }
}

.systems {
  @include media-breakpoint-up(xl) {
    width: 600px;
  }
}

@include media-breakpoint-down(xl) {
  .hide-on-small-viewports {
    display: none;
  }
}

@include media-breakpoint-up(xl) {
  .hide-on-large-viewports {
    display: none;
  }
}

.admin {
  & > div {
    text-align: center;
  }

  img {
    @include media-breakpoint-up(sm) {
      width: 88px;
    }
    @media (min-width: 645px) {
      width: 150px;
    }
    @include media-breakpoint-up(lg) {
      width: 275px;
    }
    margin-bottom: 3rem;
    height: auto;
  }
}

// ::ng-deep .mat-autocomplete-panel {
//   display: none !important;
// }
::ng-deep .mat-form-field-underline {
  display: none;
}
