<ui-dashboard-header [theme]="headerConfig.theme" [allowMobileToggle]="headerConfig.allowMobileToggle">
</ui-dashboard-header>

<div class="container">
  <ng-container *ngIf="idpHint === IdentityProvider.BCSC; else admin">
    <div class="row">
      <div class="col-12">
        <ui-alert *ngIf="loginCancelled" type="info" icon="error_outline" heading="Login Cancelled">
          <ng-container uiAlertContent>
            <p>
              You have cancelled your login to the Digital Identity Access Management.
            </p>
            <ul>
              <li>
                For support with the provider identity portal, contact
                <a uiAnchor scheme="mailto" [attr.href]="providerIdentitySupportEmail"></a>
              </li>
              <li>
                For support with your BC Services Card, click
                <a uiAnchor [attr.href]="bcscSupportUrl">here</a>
              </li>
            </ul>
          </ng-container>
        </ui-alert>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-auto">

        <div class="hide-on-large-viewports">
          <ng-container *ngTemplateOutlet="login"></ng-container>
        </div>


        <div class="tagline">
          <ui-page-section>
            <div class="row">
              <div class="col-4 hide-on-small-viewports">
                <img src="/assets/images/diam-logo.svg" alt="Digital Identity Access Management Portal Logo" />
              </div>
              <div class="col-6-lg  col-xl-auto">

                <h1>
                  Verify yourself and gain access to many applications.
                </h1>

              </div>

              <span>
                Pick your sign in method and login using your authorized security credentials. <br />Note: You may be
                redirected
                to complete this process.
              </span>

            </div>
          </ui-page-section>

        </div>
        <div class="support">
          <app-get-support></app-get-support>
        </div>
      </div>

      <div class="col-12 col-xl-auto hide-on-small-viewports">
        <ng-container *ngTemplateOutlet="login"></ng-container>
      </div>
    </div>

  </ng-container>

  <ng-template #login>
    <div class="actions">
      <div>
        <small class="left">Members of the public</small>
        <button mat-stroked-button (click)="onLogin(IdentityProvider.OIDC)">
          BC Services Card Login
        </button>
        <small class="center">
          Need an account?
          <a uiAnchor [attr.href]="bcscMobileSetupUrl">Set up</a>
        </small>
        <div class="divider"></div>
        <small>Government members and Agencies</small>

        <button mat-stroked-button (click)="onLogin(IdentityProvider.ADFS)">
          BCPS Login
        </button>

        <button mat-stroked-button (click)="onLogin(IdentityProvider.VERIFIED_CREDENTIALS)">
          Verifiable Credentials Login
        </button>

        <br /><br />
        <mat-form-field class="agency-field">
          <input type="text" placeholder="Enter your agency name" matInput aria-label="Agency name"
            [formControl]="selectedAgency" [matAutocomplete]="auto" />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
            <mat-option *ngFor="let agency of filteredAgencies | async" [value]="agency.name">
              {{ agency.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-stroked-button class="agency-login-btn" [disabled]="!agencySelected()" (click)="onAgencyLogin()">
          Agency Login
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #admin>
    <div class="row admin">
      <div class="col-12">
        <img src="/assets/images/pidp-logo-blue.svg" alt="Digital Identity Access Management Logo" />
      </div>
      <div class="col-12">
        <button mat-flat-button color="primary" (click)="onLogin()">
          {{ idpHint | uppercase }} Login
        </button>
      </div>
    </div>
  </ng-template>
</div>
