<ui-page [formGroup]="formState.form" (submitted)="onSubmit()">
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-alert *ngIf="accessRequestFailed" type="danger" icon="error_outline" iconType="outlined"
    heading="Error Requesting Access">
    <ng-container uiAlertContent>
      <p>
        Your request for access to Digital Evidence and Disclosure Management System could not
        be processed at this time. If this issue persists, contact
        <a uiAnchor scheme="mailto" [attr.href]="digitalEvidenceSupportEmail"></a>
        for assistance.
      </p>
    </ng-container>
  </ui-alert>

  <ui-alert *ngIf="pending" type="primary" icon="pending_outline" iconType="outlined"
    heading="Access Request Pending for Approval">
    <ng-container uiAlertContent>
      <p>
        Your request for access to the Digital Evidence and Disclosure Management System has been
        submitted and should be be processed soon.
      </p>
    </ng-container>
  </ui-alert>

  <ui-page-section>
    <ui-page-section-subheader icon="assignment" heading="Digital Evidence and Disclosure Management System">
      <ng-container uiPageSectionSubheaderDesc>
        {{ completed ? 'Enrolment Complete.' : pending ? 'Enrolment Pending' :
        'Collection Notice.' }}
      </ng-container>
    </ui-page-section-subheader>
  </ui-page-section>


  <ng-container *ngIf="completed; else stillPending">
    <ui-alert type="success" icon="check_circle" iconType="outlined" heading="Access request completed">
      <ng-container uiAlertContent>
        <p>
          You request has been completed<br />
          You may now login to DEMS using Single Sign-On
        </p>

      </ng-container>
    </ui-alert>
  </ng-container>

  <ng-template #notCompleted>
    <ui-page-section>
      <p class="collection-notice" [innerHtml]="collectionNotice | safe: 'html'"></p>
    </ui-page-section>
  </ng-template>

  <ng-template #stillPending>
    <ng-container *ngIf="pending; else notCompleted"> </ng-container>
  </ng-template>

  <ng-container>
    <ui-page-section *ngIf="!userIsLawyer">
      <ui-page-section-subheader heading="Digital Evidence and Disclosure Management System">
        <ng-container uiPageSectionSubheaderDesc *ngIf="!userInAgency()">
          Check that the information below is correct, then click Request Access. If the information needs updating,
          please
          contact
          <a uiAnchor scheme="mailto" [attr.href]="digitalEvidenceSupportEmail"></a>.


        </ng-container>
        <ng-container uiPageSectionSubheaderDesc *ngIf="userInAgency()">
          <div *ngIf="userInAgency()">
            Click on <b>Request Access</b> to submit your request to have access to the DEMS system.
            <br />
            As a submitting agency user, you will be able to request access to cases for the purposes of uploading
            digital evidence once your
            onboarding is complete.<br />
          </div>
        </ng-container>
      </ui-page-section-subheader>

      <!-- <div class="row">
        <div *ngIf="showFormControl('OrganizationType')" class="col-12">
          <mat-form-field class="w-100">
            <input matInput placeholder="Organization Type" formControlName="OrganizationType" [readonly]="true" />
            <mat-error>Required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="col-12">
        <mat-form-field class="w-100">
          <input matInput placeholder="Organization Name" formControlName="OrganizationName" [readonly]="true" />
          <mat-error>Required</mat-error>
        </mat-form-field>
      </div> -->

      <!-- <div class="col-12">
        <mat-form-field class="w-100">
          <input matInput placeholder="Participant Id" formControlName="ParticipantId" [readonly]="true" />
          <mat-error>Required</mat-error>
        </mat-form-field>
      </div> -->
    </ui-page-section>
    <ui-page-section *ngIf="userIsLawyer">
      <div class="col-12 ">
        <ui-page-section-subheader heading="Defence And Duty Counsel">
          Once your onboarding process has been completed you will have the ability to request access to Court Locations
          for the purposes of Duty Counsel
          <p>If you are acting as Defence Counsel for Accused individuals then contact BCPS for case assignment once
            your DEMS Onboarding is complete</p>
          <b style="color:red">Wording here needs attention</b>
        </ui-page-section-subheader>
      </div>
    </ui-page-section>

    <ui-page-section *ngIf="userIsBCPS">

      <div class="col-12">
        <ui-page-section-subheader heading="Assigned Regions">
          <ng-container uiPageSectionSubheaderDesc>
            You will be assigned the following regions in the Digital Evidence and Disclosure Management System:
          </ng-container>
          <table mat-table [dataSource]="assignedRegions">
            <ng-container matColumnDef="regionName">
              <th *matHeaderCellDef mat-header-cell>Region Name</th>
              <td *matCellDef="let element" mat-cell>{{ element.regionName }}</td>
            </ng-container>
            <ng-container matColumnDef="assignedAgency">
              <th *matHeaderCellDef mat-header-cell>Crown Office</th>
              <td *matCellDef="let element" mat-cell>{{ element.assignedAgency }}</td>
            </ng-container>
            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
          </table>
        </ui-page-section-subheader>
      </div>

    </ui-page-section>
  </ng-container>

  <ui-page-footer [mode]="completed ? 'reverse' : 'normal'">
    <button mat-stroked-button uiPageFooterAction type="button" color="secondary" (click)="onBack()">
      {{ completed || pending ? 'Back Home' : 'Cancel Back Home' }}
    </button>

    <button *ngIf="!(completed || pending)" mat-flat-button uiPageFooterAction type="button" color="primary"
      [disabled]="!formState.form.valid" (click)="onRequestAccess()">
      Request Access
    </button>
  </ui-page-footer>
</ui-page>
