.collection-notice {
  // Bump up the separation between the footer and
  // PageSection component
  margin-bottom: 6rem;
}

.submitting-agency {
  border-radius: 5px;
  border: 2px black solid;
  padding: 5px;
}

.field-highlight {
  border-radius: 5px;
  border: 1px black solid;
  padding: 5px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

table {
  width: 100%;
}
