@use 'palette' as palette;
@import 'bootstrap/bootstrap-imports';

.collection-notice {
  // Bump up the separation between the footer and
  // PageSection component
  margin-bottom: 6rem;
}

div.user-notification {
  line-height: normal;
}

.submitting-agency {
  border-radius: 5px;
  border: 2px black solid;
  padding: 5px;
}

.field-highlight {
  border-radius: 5px;
  border: 1px black solid;
  padding: 5px;
}

.icon-display {
  transform: scale(2);
}

.spinner {
  text-align: center;
  margin: 0 auto;
}

.error-icon {
  color: red;
}

.danger {
  color: red;
}

.invalid-icon {
  color: red;
}

.valid-icon {
  color: green;
}

div.small-text {
  font-size: small;
  line-height: normal;
}

.code-entry {
  width: 80%;
  border-radius: 8px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: palette.theme-palette(blue, 'lighter');
  margin-bottom: 5px;
  .mat-option-text > span {
    font-size: large;
    margin-left: 16px;
  }
  input {
    background-color: palette.theme-palette(blue, 'lighter');
    font-size: 22px;
    line-height: 36px;
  }
}

.no-margin-bottom {
  margin-bottom: 0;
}

table {
  width: 100%;
}
