<ui-page-section>
  <ng-container>
    <table mat-table [dataSource]="dataSource" class="full-width">
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Name</th>
        <td *matCellDef="let subagency" mat-cell>{{ subagency.name }}</td>
      </ng-container>

      <ng-container matColumnDef="idpHint">
        <th *matHeaderCellDef mat-header-cell>IDP Hint</th>
        <td *matCellDef="let subagency" mat-cell>{{ subagency.idpHint }}</td>
      </ng-container>
      <ng-container matColumnDef="levelOfAssurance">
        <th *matHeaderCellDef mat-header-cell>Level Of Assurance</th>
        <td *matCellDef="let subagency" mat-cell>{{ subagency.levelOfAssurance }}</td>
      </ng-container>
      <ng-container matColumnDef="clientCertExpiry">
        <th *matHeaderCellDef mat-header-cell>Cert Expiry</th>
        <td *matCellDef="let subagency" mat-cell>{{ subagency.clientCertExpiry | date: 'MM-dd-yy' }}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr (click)="showUpdateDialog(row)" *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>
  </ng-container>
</ui-page-section>
