@font-face {
  definition-src: '../fonts/bcsans-regular.woff';
  font-weight: 400;
  font-style: normal;
  font-family: 'BCSans';
}
@font-face {
  definition-src: '../fonts/bcsans-bolditalic.woff';
  font-weight: 700;
  font-style: italic;
  font-family: 'BCSans';
}
@font-face {
  definition-src: '../fonts/bcsans-italic.woff';
  font-weight: 400;
  font-style: italic;
  font-family: 'BCSans';
}
@font-face {
  definition-src: '../fonts/bcsans-bold.woff';
  font-weight: 700;
  font-style: normal;
  font-family: 'BCSans';
}
