<ui-page [formGroup]="formState.form" (submitted)="onSubmit()">
  <ui-page-header>{{ title }}</ui-page-header>
  <ui-page-section>
    <ui-page-section-subheader icon="assignment" heading="Digital Evidence Case Management">
      <ng-container uiPageSectionSubheaderDesc>
        From this page you can request access to individual cases in the Digital Evidence and Disclosure Management
        System.
      </ng-container>

    </ui-page-section-subheader>
    <section>
      <ui-page-subheader>Case Lookup</ui-page-subheader>
      <p><i>Enter the agency file number you wish to have access to</i></p>
      <mat-form-field class="w-20">
        <input matInput placeholder="Agency Code" required type="text" tabindex="1" (change)="onChangeAgencyCode()"
          formControlName="agencyCode" />
        <mat-error>Required</mat-error>
      </mat-form-field>

      <mat-form-field class="w-60">
        <mat-label>Case #</mat-label>
        <input matInput formControlName="caseName" (input)="checkCaseInput()" placeholder="yy-nnnnnnn" tabindex="2" />
      </mat-form-field>
      <button mat-stroked-button type="button" [disabled]="isFindDisabled" style="margin-left: 10px;" color="primary"
        (click)="findCase()">
        Find
      </button>

    </section>
    <section class="caseSelection" *ngIf="requestedCaseNotFound">
      <mat-icon class="corner">error_outline</mat-icon><span>Requested case not found.</span>
    </section>
    <section class="caseSelection" *ngIf="requestedCase">

      <b>Case Name:</b> {{ requestedCase?.name }}<br />
      <b>Accused Full Name:</b> {{ getCaseAttribute(47) }}<br />
      <b>Status:</b> {{ requestedCase?.status }}<br />
      <b>Investigating Officer:</b> {{ getCaseAttribute(25) }}<br />
      <b>Offence Date (earliest):</b> {{ getCaseAttribute(67) }}<br />

      <p>

      </p>
      <button mat-stroked-button type="button" color="primary" (click)="addCaseRequest()">
        Request Access
      </button>
    </section>

  </ui-page-section>


  <ui-page-section>
    <ui-page-section-subheader icon="assignment" heading="Case Listing">
    </ui-page-section-subheader>
    <ng-container uiPageSectionSubheaderDesc *ngIf="caseListing.length === 0">
      <p>
        <b>You have no currently assigned cases or requested cases.<br />
          Search for cases for them to be added.</b>
      </p>
    </ng-container>

    <ng-container uiPageSectionSubheaderDesc
      *ngIf="(identityProvider$ | async) === IdentityProvider.BCPS || (identityProvider$ | async) === IdentityProvider.IDIR && caseListing.length > 0">
      Here you can see the list of cases you are requesting access to and cases you currently have access to.

      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="agencyFileNumber">
          <th *matHeaderCellDef mat-header-cell>File Number</th>
          <td *matCellDef="let case" mat-cell>{{ case.agencyFileNumber }}</td>
        </ng-container>
        <ng-container matColumnDef="requestStatus">
          <th *matHeaderCellDef mat-header-cell>Status</th>
          <td *matCellDef="let case" mat-cell>{{ case.requestStatus }}</td>
        </ng-container>
        <ng-container matColumnDef="requestedOn">
          <th *matHeaderCellDef mat-header-cell>Requested</th>
          <td *matCellDef="let case" mat-cell>{{ case.requestedOn | date: 'MM-dd-yy hh:mm' }}</td>
        </ng-container>


        <ng-container matColumnDef="caseAction">
          <th *matHeaderCellDef mat-header-cell>Action</th>
          <td *matCellDef="let case" mat-cell class="centered-column"><i *ngIf="case.status !== 'REMOVE'"
              (click)="onRemoveCase(case)"><mat-icon>delete</mat-icon></i></td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
      </table>

    </ng-container>

  </ui-page-section>

  <ui-page-footer [mode]="completed ? 'reverse' : 'normal'">
    <button mat-stroked-button uiPageFooterAction type="button" color="primary" (click)="onBack()">
      Back Home
    </button>
  </ui-page-footer>

</ui-page>
