@use 'palette' as palette;

table.mat-table {
  width: 100%;
  td.centered-column {
    text-align: center;
  }
}

.capitalize {
  text-transform: lowercase;
}
.pending {
  background-color: palette.theme-palette(blue);
}

.active {
  background-color: palette.theme-palette(green);
}

.caseSelection {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 2px palette.theme-palette(blue) solid;
}

.caseSelectionInvalid {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 2px palette.theme-palette(red) solid;
}
