<ui-page [formGroup]="formState.form">
  <ui-page-header>{{ title }}</ui-page-header>
  <ui-page-section>
    <ui-page-section-subheader
      icon="assignment"
      heading="Digital Evidence Case Access">
      <ng-container uiPageSectionSubheaderDesc>
        Request access to individual cases in the Digital Evidence and
        Disclosure Management System for the purpose of uploading digital
        evidence.
      </ng-container>
    </ui-page-section-subheader>
    <section>
      <ui-page-subheader icon="search">Case Lookup</ui-page-subheader>
      <mat-form-field class="w-20">
        <input
          matInput
          placeholder="Agency Code"
          required
          type="text"
          tabindex="1"
          formControlName="agencyCode" />
        <mat-error>Required</mat-error>
      </mat-form-field>

      <mat-form-field class="w-60">
        <mat-label>File #</mat-label>
        <input
          matInput
          formControlName="caseName"
          maxlength="15"
          matTooltip="Enter the agency file number you wish to have access to and click Find"
          placeholder="yy-nnnnnnn"
          tabindex="2"
          (input)="checkCaseInput()" />
      </mat-form-field>
      <button
        mat-stroked-button
        type="button"
        tabindex="3"
        style="margin-left: 10px"
        color="primary"
        [disabled]="checkCaseInput()"
        (click)="findCase()">
        Find
      </button>
    </section>
    <section
      *ngIf="requestedCaseNotFound && !requestedCase?.justinStatus"
      class="caseSelectionInvalid mat-elevation-z4">
      Requested case not found.<br />
      Please check the entered Agency Code and File # and that the case is
      scheduled to be in DEMS<br />
    </section>
    <section
      *ngIf="requestedCase && requestedCase.status === 'Removed'"
      class="caseSelectionInvalid mat-elevation-z4">
      Requested case has been removed from BCPSDEMS.<br />
      Please contact DEMS Support for information regarding this case<br />
    </section>
    <section
      *ngIf="requestedCase && !requestedCaseNotFound && !requestedCaseInactive && !showJUSTINCaseInfo && requestedCase.status !== 'Queued' && requestedCase.status !== 'Removed'"
      class="caseSelection mat-elevation-z4">
      <b>Case Name:</b> {{ decodeName(requestedCase.name) }}<br />
      <div *ngFor="let field of requestedCase.fields">
        <span *ngIf="field.display"
          ><b>{{ field.name }}:</b> {{ field.value }}</span
        >
      </div>
      <p></p>
      <button
        mat-stroked-button
        type="button"
        color="primary"
        matTooltip="Request access to this case (typically takes less than 1 minute)"
        (click)="addCaseRequest()">
        Submit
      </button>
    </section>

    <section
      *ngIf="requestedCase && showJUSTINCaseInfo"
      class="caseNotInDEMS mat-elevation-z4">
      The requested case is not currently available in BCPS DEMS.<br />
      It is a valid <b>JUSTIN</b> case and is currently in a status of
      <b>{{ requestedCase.justinStatus.description }}</b>.
      <div *ngIf="requestedCase.justinStatus.demsCandidate">
        This case should be available in BCPS DEMS within the next 15
        minutes.<br />
        If you are unable to find this case after this time has elapsed please
        contact BCPS DEMS Agency Support @
        <a
          href="mailto:DEMS.Agency.Support@gov.bc.ca?subject=Unable to access case {{ getCleanCaseName() }}"
          >DEMS.Agency.Support@gov.bc.ca</a
        >
        for assistance.
      </div>
      <div *ngIf="!requestedCase.justinStatus.demsCandidate">
        This case will NOT be available in DEMS at this time.
      </div>
    </section>

    <section
      *ngIf="checkingQueuedCase  || requestedCase && requestedCase?.status === 'Queued'"
      class="caseQueued mat-elevation-z4">
      This case has been received by BCPS DEMS and is currently being processed.
      <br />
      Typically, case creation only takes a few minutes.
      <div
        style="width: 100%"
        fxLayout="row"
        fxLayoutAlign="start end"
        fxLayoutGap="8">
        <mat-progress-spinner
          diameter="36"
          mode="indeterminate"></mat-progress-spinner>
        <button
          type="button"
          mat-stroked-button
          color="primary"
          (click)="cancelQueuedSearch()">
          Cancel Search
        </button>
      </div>
      <br />
    </section>

    <section
      *ngIf="requestedCase && requestedCaseInactive && !showJUSTINCaseInfo"
      class="caseSelectionInvalid mat-elevation-z4">
      This case shows as inactive.<br />To upload to this case, please check:
      <ul>
        <li>case has been submitted or re-submitted through PRIME-JUSTIN.</li>
        <li>confirm that the case has not been concluded.</li>
        <li>this case is being managed in BCPS DEMS.</li>
      </ul>
      <p></p>
      <b>Case Name:</b> {{ requestedCase?.name }}<br />
      <div *ngFor="let field of requestedCase.fields">
        <span *ngIf="field.display"
          ><b>{{ field.name }}:</b> {{ field.value }}</span
        >
      </div>
    </section>
  </ui-page-section>
  <ui-page-section>
    <ui-page-section-subheader icon="table_chart" heading="Case Listing">
      <div *ngIf="showAUFLink">
        <button
          class="mat-elevation-z6"
          mat-stroked-button
          type="button"
          color="primary"
          (click)="launchAUF()">
          {{launchDEMSLabel}}
        </button>
      </div>
    </ui-page-section-subheader>
    <ng-container>
      <table
        class="mat-elevation-z4"
        mat-table
        matSort
        #caseTblSortWithObject="matSort"
        matSortActive="agencyFileNumber"
        matSortDirection="desc"
        [dataSource]="dataSource">
        <ng-container matColumnDef="agencyFileNumber">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>File Number</th>
          <td *matCellDef="let case" mat-cell>{{ case.agencyFileNumber }}</td>
        </ng-container>
        <ng-container matColumnDef="requestStatus">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Status</th>
          <td *matCellDef="let case" mat-cell>{{ case.requestStatus }}</td>
        </ng-container>
        <ng-container matColumnDef="requestedOn">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Requested</th>
          <td *matCellDef="let case" mat-cell>
            {{ case.requestedOn | date: 'MM-dd-yy hh:mm' }}
            <mat-icon
              *ngIf="isWithin25Days(case.requestedOn)"
              class="warning-icon"
              matTooltip="Case will be removed within the next 5 days"
              >warning</mat-icon
            >
            <mat-icon
              *ngIf="case.requestStatus === 'Failure'"
              class="warning-icon"
              matTooltip="{{case.details}}"
              >error</mat-icon
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="caseAction">
          <th *matHeaderCellDef mat-header-cell>Action</th>

          <td *matCellDef="let case" class="centered-column" mat-cell>
            <i
              *ngIf="case.requestStatus === 'Complete'"
              (click)="getCaseData(case)"
              ><mat-icon class="me-2">info_outline</mat-icon></i
            >
            <i
              *ngIf="showCaseImportLink && case.requestStatus === 'Complete'"
              (click)="onUploadToCase(case)"
              ><mat-icon class="me-2">file_upload</mat-icon></i
            ><i
              *ngIf="case.requestStatus === 'Complete'"
              (click)="onRemoveCase(case)"
              ><mat-icon>delete_outline</mat-icon></i
            >
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            You do not currently have access to any cases.<br />
            Find your case by agency file number and then request access.
          </td>
        </tr>
        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
      </table>
      <p></p>
      <div
        style="width: 100%"
        fxLayout="row"
        fxLayoutAlign="start end"
        fxLayoutGap="0">
        <button
          mat-stroked-button
          uiPageFooterAction
          type="button"
          color="primary"
          (click)="getPartyRequests()">
          Refresh
        </button>
        <div fxFlex></div>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          [pageSize]="pageSize"
          [pageIndex]="pageIndex"
          [length]="dataSource.data.length"
          (page)="onPaginationChange($event)">
        </mat-paginator>
      </div>
      <br />
      <span *ngIf="caseListing.length !== 0">
        <i
          ><sub
            >Access to individual cases will be automatically removed 30 days
            after the case access is granted.</sub
          ></i
        ></span
      ><br />
      <span class="legend">
        <mat-icon>info_outline</mat-icon>= Show case info
        <mat-icon *ngIf="showCaseImportLink" class="ms-2">file_upload</mat-icon>
        <div *ngIf="showCaseImportLink">= Access DEMS upload for this case</div>
        <mat-icon class="ms-2">delete_outline</mat-icon>= Remove access to case
      </span>
    </ng-container>
  </ui-page-section>

  <ui-page-footer [mode]="completed ? 'reverse' : 'normal'">
    <button
      mat-stroked-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onBack()">
      Back
    </button>
  </ui-page-footer>
</ui-page>
