@use 'palette' as palette;

div.small-text {
  font-size: small;
  line-height: normal;
}

table.mat-table {
  width: 100%;
  td.centered-column {
    text-align: center;
  }
}

mat-icon.warning-icon {
  font-size: 16px;
  color: darkorange;
}
